* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #eee;
  --mobile-padding: 15px;
  --tablet-padding: 15px;
  --padding: 20px;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: var(--mobile-padding);
  background-color: var(--primary);
  position: relative;
  width: 100%;
}

header h1 {
  text-align: center;
  width: 90%;
  font-size: 1.4em;
}

/* hamburger */
.hamburger {
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.hamburger .line {
  height: 2px;
  width: 25px;
  background-color: #000;
}

/* Nav Bar */
.navLinks {
  display: flex;
  transform: scaleY(0);
  visibility: hidden;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  position: absolute;
  background-color: var(--primary);
  width: 100%;
  padding: var(--mobile-padding);
  top: 58px;
  left: 0;
  transition: visibility, transform 200ms ease-in-out;
  transform-origin: top center;
}

.link a {
  text-decoration: none;
  color: #000;
  font-weight:500;
}

.hamburger.open + .navLinks{
  visibility: visible;
  transform: scaleY(1);
}


@media (min-width:800px) {
  header {
    flex-direction: row;
  }

  header h1 {
    width: unset;
    text-align: left;
    font-size: 1.6em;
  }

  .navLinks {
    flex-direction: row;
    transform: unset;
  visibility: visible;
    margin-left: 20px;
    gap: 20px;
    position: initial;
    padding: unset;
    width: initial;
  }

  .hamburger {
    display: none;
  }
}

@media (min-width: 1080px) {
  header {
    padding: var(--padding);
  }

  header h1 {
    font-size: 1.8em;
  }

  .navLinks {
    margin-left: 50px;
  }

 
}
