/* Error Component Css */
.error-div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 50vh;
}

.error-div h2 {
	color: rgb(233, 73, 73);
	font-size: 2em;
}

.error-div p {
	color: rgb(194, 194, 194);
	margin-top: 15px;
	font-size: 1.1em;
}

.error-code {
	width: 80px;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: red;
	border: 5px solid red;
	border-radius: 50%;
	font-size: 2em;
	font-weight: bold;
	margin: 20px 0px;
}

.error-back-btn {
	border: 2px solid;
	padding: 10px 30px;
	color: rgb(0, 0, 0);
	margin-top: 20px;
	height: max-content;
}

/* .main-container :is(.error-div){ */

/* } */
